<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Startseite</a></li>
    <li class="active">ContentGroups anlegen</li>
</ol>

@RenderPage("~/Views/Shared/_AddContentGroups.cshtml")

