<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Startseite</a></li>
    <li class="active">ContentGroups bearbeiten</li>
</ol>

@RenderPage("~/Views/Shared/_AddContent.cshtml")

