@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quick and Dirty Online Courses</h1>
    <p class="lead">Lernen Sie hier Neues durch kostenfreie Online Kurse!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kurs suchen</h2>
        <p>
            Erkunden Sie eine Vielzahl verschiedenster Wissensquellen, von Koch-Tutorials über 
            unterschiedliche How-To's bis hin zu extra für Sie zusammengestellten Komplettmodulen, 
            damit Sie ihr Wissen ohne viel Aufwand erweitern können!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kurs anlegen</h2>
        <p>
            Haben Sie Wissen, dass Sie gerne teilen möchten? Oder kennen Sie verteilte Wissensquellen, 
            die Sie zu einem Gesamterlebenis zusammentragen möchten? Dann sind Sie hier genau richtig! 
            Erstellen und verwalten Sie selbstständig Kurse und deren Inhalt!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Meine Kurse</h2>
        <p>
            Alle Ihre Kurse auf einen Blick! Stundenlanges Zusammensuchen der wichtigsten Inhalte gehören 
            jetzt der Vergangenheit an! Einfaches Editieren, sowieo Löschen und Betrachten der von Ihnen 
            selbst ausgewählten Inhalte auf einen Blick!
        </p>
    </div>
</div>