@{
    ViewBag.Title = "Kurs suchen";
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Startseite</a></li>
    <li class="active">Kurs suchen</li>
</ol>
<h1 id="search-header">QDCourse</h1>
<div class="description">
    Um nach mehreren Tags zu suchen, geben Sie bitte die einzelnen Tags durch Leerzeichen (' ') getrennt an (z.B. "java c++ c#")
</div>
<form class="search-form" action="@Url.Action("SearchResult", "CourseSearch")" method="post">
    <div id="center-align">
        <input type="text" class="search" placeholder="Suchen..." name="searchString">
        <input type="submit" class="button" value="Suchen" id="SearchResult">
    </div>
</form>