@{
    ViewBag.Title = "Kurs suchen";
}

<form id="search-form">
    <div id="center-align">
        <input type="text" class="search" placeholder="Suchen..." required>
        <input type="button" class="button" value="Suchen">
    </div>
</form>