@{
    ViewBag.Title = "Kurs editieren!";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Startseite</a></li>
    <li><a href="@Url.Action("MYCourses", "MyCourses")">Meine Kurse</a></li>
    <li class="active">Kurs editieren</li>
</ol>

@RenderPage("~/Views/Shared/_CourseDetails.cshtml")